name: Trigger GitHub Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  call-release-workflow:
    uses: harmony-labs/workflow-simple-release/.github/workflows/workflow.yaml@main
    with:
      tag_name: ${{ github.ref_name }}
      release_name: Release ${{ github.ref_name }}
      draft: false
      prerelease: false