name: GitHub Release

on:
  workflow_call:
    inputs:
      tag:
        description: 'The tag name for the release'
        required: true
        type: string

      name:
        description: 'The name of the release'
        required: true
        type: string
      
      runs-on:
        description: 'The type of runner to use for the job'
        type: string
        default: 'ubuntu-latest'
        required: false

jobs:
  
  release:
    runs-on: ${{ inputs.runs-on }}

    permissions:
      contents: write

    steps:
      - uses: runs-on/action@v1

      - name: Checkout code
        uses: actions/checkout@v5.0.1

      - name: Create Release
        uses: ncipollo/release-action@v1.20.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: ${{ inputs.tag }}
          name: ${{ inputs.name }}
          bodyFile: CHANGELOG.md